@using System.Threading.Tasks

@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_EmptyLayout";
}

<h2>Login</h2>

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="Email" class="form-control" placeholder="Email">
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input asp-for="Password" class="form-control" placeholder="Şifre">
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="RememberMe"> Beni Hatırla
                            </label>
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <input type="submit" class="btn btn-success" value="Giriş yap">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

