
@{
    ViewData["Title"] = "SendedResetMail";
    Layout = "_EmptyLayout";
}

<link href="@Url.Content("~/lib/admin-lte/plugins/iCheck/square/blue.css")" rel="stylesheet" />

<div class="register-box" style="width: 500px">
    <div class="register-logo">
        <a href="#">Salary Dashboard</a>
    </div>

    <div class="register-box-body">
        <h4 class="login-box-msg">Şifre resetleme</h4>

        <div class="alert alert-success">
            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>*@
            <h4><i class="icon fa fa-check"></i> Harika!</h4>
            Şifre resetleme linki mail adresinize gönderildi. Mail adresinizi kontrol ediniz!
        </div>

    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->