@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}

<div class="box">
    @*<div class="box-header with-border">
        <h3 class="box-title">Salary Dashboard Admin</h3>
    </div>*@
    <!-- /.box-header -->
    <div class="box-body">
        
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        
    </div>
</div>
<!-- /.box -->